<!-- <div class="backGround"></div> -->
<div class="body">
  <form class="form" [formGroup]='addProductForm'>
    <h1>ADD Product</h1>

    <mat-form-field class="input-form" appearance="fill">
      <mat-label>Name</mat-label>
      <input type="" formControlName="name" matInput required>
      <mat-error> {{errors.name}}</mat-error>
    </mat-form-field>

    <mat-form-field class="category-form" appearance="fill">
      <mat-label>Category</mat-label>
      <mat-select formControlName="category" required>
        <mat-option>--</mat-option>
        <mat-option *ngFor="let category of categoryList" [value]="category">
          {{category}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="addProductForm.hasError('required')">Please choose an animal</mat-error>
    </mat-form-field>

    <mat-form-field class="describe-form" appearance="fill">
      <mat-label>Describe your product ... </mat-label>
      <textarea matInput formControlName="describtion" placeholder="Ex. It has ..."></textarea>
    </mat-form-field>

    <mat-form-field class="price-form" appearance="fill">
      <mat-label>Price</mat-label>
      <input type="number" placeholder="write price of product" formControlName="price" matInput required>
      <mat-error> {{errors.price}}</mat-error>
    </mat-form-field>

    <mat-form-field class="amount-form" appearance="fill">
      <mat-label>amount</mat-label>
      <input type="number" min="1" placeholder="1 2 ..." formControlName="amount" matInput required>
      <mat-error> {{errors.amount}}</mat-error>
    </mat-form-field>

    <div class="example-button-container">
      <button mat-fab color="warn" (click)="addProductReq()" aria-label="Example icon button with a home icon">
        <mat-icon>add</mat-icon>
      </button>
    </div>

  </form>
</div>